body {
background-color: #FF6347;

}

.cabecalho {
width: 20%
backgroun-color: 
display: flex;
border-radius: 0px 0px 0px 150px
}
.cabecalho__imagem {
width: 130px;
height: 157px;
border-radius: 600px;
margin: 30px 30px 30px 200px


